<h1 class="title"> Nearby shops </h1>
<div class="container">
        <div class="row justify-content-around">
                <div class="col-3" *ngFor="let shop of shops ; let i = index">

                        <div class="border">
                                <p>Shop {{shop.name}}</p>
                                <p>Shop {{shop.id}}</p>
                                <p> {{shop.location.coordinates[0]}}</p>
                                <p> {{shop.location.coordinates[1]}}</p>
                                <p>Distance {{shop.distance}} Km</p>
                                <img src={{shop.picture}}/>
                                <br/>
                                <div class="buttons">
                                        <button type="button" class="btn btn-sm" (click)="like($event,shop.id)" id="button-like">
                    <i class="fa fa-thumbs-up" style="padding-right: 4px;" aria-hidden="true"></i>
                    Like
             </button>
                                        <button type="button" class="btn btn-danger btn-sm" color="danger" (click)="dislike($event,shop.id,i)"><i class="fa fa-thumbs-down" style="padding-right: 4px;" aria-hidden="true"></i>Dislike</button>
                                </div>
                        </div>
                </div>
        </div>